<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Phase 2</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<!--           <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
          </ul> -->
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container" style="padding-top : 55px">
      <div class="row">
        <div class="col-md-3" v-if="authorize === false">
            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" id="exampleInputEmail1" placeholder="username" v-model="username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="password">
            </div>
            <button class="btn btn-default" v-on:click="signin">Signin</button>
            <a class="btn btn-default" href="./signup.html">Signup</a>
          <hr>
        </div>
        <div class="col-md-3" v-else>
            <div class="form-group" align="center" style="padding-top: 30px;">
              <label for="exampleInputEmail1">{{name}}</label>
            </div>
            <div class="form-group" align="center">
              <button class="btn btn-default" v-on:click="signout">Signout</button>
            </div>
          <hr>
        </div>

        <div class="col-md-9">
            <div class="form-group" style="padding-top: 25px;">
              <input type="text" class="form-control" id="post" v-model="content">
            </div>
            <button class="btn btn-primary" v-on:click = "post">Post</button>
            <button class="btn btn-primary" v-on:click = "voice">Voice</button>
          <hr>
          <div class="panel panel-default" v-for="(list, index) in listPosts"  style="padding-top: 5px;">
            <div class="row">
              <div class="panel-body">
          		  <div class="col-md-9">
                <small>Posted By {{list.user_id.name}}</small> | <small>Posted At : {{list.createdAt}}</small>
                <div align="justify">{{list.content}}</div>
                <div align="justify">{{list.jalan}}</div>
                <div v-if="list.user_id._id === user_id">
                  <button class="btn btn-danger" v-on:click ="deletePost(list._id)"><span class="glyphicon glyphicon-trash"></span></button>
                </div>
                <div v-else>
                  
                </div>

  	            </div>
  	            <div class="col-md-3">

  	            </div>	              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <input id="coordinate" type="hidden" name="coordinate">

</body>
<script>
var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition;
var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent;

function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    coordinate.value = "Geolocation is not supported by this browser.";
  }
}
function showPosition(position) {
  var latitude = position.coords.latitude
  var longitude = position.coords.longitude
  localStorage.setItem('lat',`${latitude}`)   
  localStorage.setItem('long',`${longitude}`)      
}

var app = new Vue({
  el : '#app',
  data : {
    username : '',
    password : '',
    listPosts : [],
    content : '',
    name : '',
    user_id : '',
    alert : false,
    authorize : false
  },
  methods : {
    getAll : function(){
      if(localStorage.getItem('token')){
        axios.post('http://localhost:3000/api/posts/validate',{
          token : localStorage.getItem('token')
        })
        .then((result)=>{
          console.log(result)
          this.listPosts = result.data.posts
          this.name = result.data.decoded.name
          this.authorize = true
          this.user_id = result.data.decoded.id      
          getLocation()
        })
        .catch((err)=>{
          console.log(err)
        })
      }else{
        axios.get('http://localhost:3000/api/posts')
        .then((result)=>{
          this.listPosts = result.data
          this.authorize = false
          localStorage.clear()
        })
        .catch((err)=>{
          console.log(err)
        })
      }
    },
    signin : function(){
      var self = this
      axios.post('http://localhost:3000/api/signin',{
        username : self.username,
        password : self.password
      })
      .then((response)=>{
        console.log(response)
        localStorage.setItem("token", response.data.token);
        location.reload()
      })
    },
    signout : function(){
      localStorage.clear()
      location.reload()
    },
    deletePost : function(id){
      token = localStorage.getItem('token')
      axios.post(`http://localhost:3000/api/posts/delete`,{
        token : token,
        id : id
      })
      .then(() =>{
        console.log(id)
        // alert('data Deleted')
        // location.reload()
      })
      .catch(err =>{
        console.log(err)
      })
    },
    post : function(){
      var self = this
      if(self.user_id){
        axios.post('http://localhost:3000/api/posts',{
          content : self.content,
          latitude : localStorage.getItem('lat'),
          longitude : localStorage.getItem('long'),
          user_id : self.user_id,
          token : localStorage.getItem('token')
        })
        .then((response)=>{
          location.reload()
        })
        .catch((err)=>{
          // console.log(err)
          console.log('submit berhasil')
        })
      }else{
      alert('You Must Login')
      self.alert = true
      }
    },
    voice : function(){
      var self = this
      if(localStorage.getItem('token')){
        var recognition = new SpeechRecognition();
        recognition.lang = 'id-ID';
        recognition.interimResults = false;
        recognition.maxAlternatives = 1;
        recognition.start();

        recognition.onresult = function(event) {
          var speechResult = event.results[0][0].transcript;
          self.content = speechResult
          console.log('Text: ' + speechResult);
          console.log('Confidence: ' + event.results[0][0].confidence);
        }
        recognition.onspeechend = function() {
          recognition.stop();
          self.post()
        }
        recognition.onerror = function(event) {
          alert('Error.. Try Again')
        }
      }else{
      alert('You Must Login')
      }
    }
  },
  created (){
    this.getAll()
  }
})
</script>
</html>